@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    margin: 0;
    color:#777;
}
#navbar{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 1s;
    background-color: white;
    margin: 0 auto;
    z-index: 30;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    max-width: 250px;
    margin-right:50px;
    margin-top: 5px   
}
#navbar h1{
    margin-right:50px;
}
#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #ddd;
    max-width: 15%;
  }
#navbar .dropdown-content a {
    font-size: 1em;
    float: none;
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #dd5858;
    border-bottom: 0.7px solid #ececec;
  }
#navbar .dropdown:hover .dropdown-content {
    display: block;
  }
#navbar .dropdown-content a:hover{
    font-weight: bold;
  }
#anhbanner{
    width: 100%;
    animation: wipe-in-bottom-right 2s;
}
@keyframes wipe-in-bottom-right {
    from {
      clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
    }
    to {
      clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
    }
  }
  
  [transition-style="in:wipe:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
  }
#navbar h1>a{
        color: #e16464;
        margin-right:50px;
        font-size: 1rem;
        text-decoration: none;
}

#navbar h1>a:hover{
    color: #dd2222;
    text-shadow: #c79595 3px 5px 2px;
}

hr{
    width: 100%;
}

#thongtinchitiet{
    width:100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    
}
#thongtinchitiet h3{
    font-size: 1em;
    font-weight: 600;
}
#dichvu, #thanhtoan{
    margin-right: 100px;
}
#dichvu p>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#thanhtoan img{
    width: 200px;
}
#vanchuyen img{
    width: 400px;
}

#footer {
    background-color: #5b5b5b;
    color:rgba(255, 253, 253, 0.644);
    font-size: .9em;
    text-align: center;
    padding: 5px 0;
}

/* GIO HANG*/
.giohang{
    color: #e16464;
    font-size: 1.0rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.giohang button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.giohang button ion-icon{
    width: 50px;
    height: 50px;
    color: #e16464;
    z-index: 1;
}
.giohang button span{
    position: relative;
    bottom: 13px;
    right: 32px;
    font-size: 1rem;
    color: #e16464;
    font-weight: bold;
    z-index: 5;
}
@media only screen and (max-width: 710px) and (min-width:600px){
    .giohang button span{
        display: none;
    }

}
    
/* modal gio hang*/
.modal-cart{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}
.modal-cart .modal-product{
    position: relative;
    top:15vh;
    left:10vw;
    max-width: 80vw;
    width: 100%;
    max-height: 50vh;
    height: 100%;
    background-color: white;
    padding: 2em;
}
.show-cart{
    opacity: 1;
    pointer-events:initial;
    z-index: 40;
}
.hidden-scroll{
    overflow: hidden;
}

/*BUTTON SAN PHAM CART */
.btnsanpham, .addAndRemoveCart{
    display: flex;
}
.addAndRemoveCart{
    margin-right: 50px;
    
}
.btnsanpham input{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
.addAndRemoveCart button{
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    font-weight: normal;
    cursor: pointer;
    width: 25px;
    height: 40px;
}
.addAndRemoveCart button:active{
    background-color: #2cccff;
}

/* SHOPPING CART*/
.shoppingcart{
    display: flex;
    justify-content: space-evenly;
}
.cacsanpham {
    padding-right: 20px;
    border-right: 1px solid rgb(201, 201, 201);
    margin-right: 50px;
    min-width: 50vw;
}
.cacsanpham img{
    width: 80px;
    height: auto;
    max-height: 80px;
}
.cacsanpham .removeButton{
    border: none;
    background-color: transparent;
    color:#ddd;
    font-size: 30px;
    vertical-align:baseline;
}
.cacsanpham table{
    width: 100%;
}
.cacsanpham table thead th{
    padding: 0.5em;
    text-align: left;
    border-bottom: 3px solid #ececec;
    line-height: 1.3;
    font-size: .9em;   
}

.cacsanpham table tr td{
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    line-height: 1.3;
    font-size: .9em;
}
.cacsanpham .sanpham{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.tonggia{
    margin-top: -15px;
    max-width: 100%;
}
.tonggia div.flex-style{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px
}
.tonggia h4{
    border-bottom: 3px solid #ececec;
}
.tonggia div{
    border-bottom: 1px solid #ececec;
}
.tonggia button{
    color: #fff;
    background-color: #d26e4b;
    display: inline-block;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 20px;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    width: 100%;
}
.tonggia button:hover{
    background-color: #a34522;
}
.tonggia button a{
    color: white;
    text-decoration: none;
}

.sanpham .removeButton{
    cursor: pointer;
}

.mobile-menu,.mobile-nav-button, .moblie-button-close,.cart-mobile-device, .tablet-menu,.cart-tablet-device{
    display: none;
}
/*Phone Only*/
@media only screen and (max-width: 600px) {
    :root {
        --h2-front-size: 1.4em;
        --h3-front-size: 1.25em;
        --p-front-size: 1em;
        --red-pink-color: #e16464;
      }
    
    .mid-container{
        max-width: 95vw;
    }
    /*NAVBAR*/
    .mobile-nav-button, .moblie-button-close {
        display: block;
    }
    #logo{
        max-width: 70vw;
        margin-right:1.5em;
        margin-top: 0.6em;
    }
    #navbar{
        position: initial;
    }
    #navbar .giohang{
        display: none;
    }
    #navbar h1{
        display: none;
    }
    .top-navbar{
        margin-top: 0px;
    }
    #anhbanner{
        height: 60vw;
    }

    .mobile-menu{
        background-color: #e2eb6e;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        max-height: 100%;
        width: 100vw;
        z-index: 35;
        text-align: center;
        display: none;
        vertical-align: center;
    }
    .mobile-menu ul{
        list-style: none;
        position: relative;
        top: 20vh;
        padding:0;
    }
    .mobile-menu ul li a{
        text-decoration: none;
        color: var(--red-pink-color);
        font-size: 2.5rem;
        font-weight: bold;
        width:100%;
        max-width:1200px;
        margin:0 auto;
        display:block;
    }
    .mobile-menu .dropdown-content{
        background-color: var(--red-pink-color);
        display: none;
    }
    .mobile-menu .dropdown-content a{
        line-height: 3em;
        font-size: 1.2em;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid white;
    }
    .mobile-menu .dropdown:hover .dropdown-content{
        display: block;
    }
    .mobile-nav-button button{ 
        border: none;
        background-color: transparent;
        font-size: 4em;
        color: var(--red-pink-color);
        margin-top: 10px;
    }
    .mobile-button-close button{
        border: none;
        background-color: transparent;
        font-size: 4em;
        color: var(--red-pink-color);
        position: absolute;
        top: 0;
        right: 0;
    }

     /*FOOTER*/
     #thongtinchitiet{
        display: block;
        text-align: center;
    }
    #thongtinchitiet h3{
        font-size: var(--h3-front-size);
        text-align: center;
    }
    #dichvu,#thanhtoan,#vanchuyen {
        border-bottom: 2px solid rgb(230, 230, 230);
    }
    #dichvu, #thanhtoan{
        margin-right: 0px;
    }
    #dichvu p{
        line-height: 1.1em;
    }
    #vanchuyen img{
        width: 80%;
        max-height: 25vh;
    }
    #footer p{
        font-size: var(--p-front-size);
    }
}
/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .mobile-menu{
        display: none;
    }
    #navbar {
        display: none;
    }
    .top-navbar{
        margin-top: 0;
    }
    .tablet-menu{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0 1em 1em;
        transition: all 0.2s ease;
    }
    .tablet-menu h1{
        font-size: 1.2em;
    }
    .tablet-menu h1>a{
        color: #e16464;
        margin-right:1.2em;
        text-decoration: none;
    }
    .tablet-menu h1>a:hover{
        color: #dd2222;
        text-shadow: #c79595 3px 5px 2px;
        }
    #logo{
        max-width: 100%;
    }
    #logo-a{
        display: block;
        max-width: 30vw;
        margin-right: 1em;
    }
    .tablet-menu .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 2px solid #ddd;
        max-width: 25vw;
      }
    .tablet-menu .dropdown-content a {
        font-size: 1em;
        float: none;
        color: #f1f1f1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        background-color: #dd5858;
        border-bottom: 0.7px solid #ececec;
      }
    .tablet-menu .dropdown:hover .dropdown-content {
        display: block;
      }
    .tablet-menu .dropdown-content a:hover{
        font-weight: bold;
      }
    /*CONTENT*/
    
    /*FOOTER*/
    #thongtinchitiet{
        gap: 2em;
    }
    #dichvu, #thanhtoan{
        margin-right: 1em;
    }
    #thanhtoan img{
        width: 20vw;
    }
    #vanchuyen img{
        width: 30vw;
    }
}

